{% extends 'base.html.twig' %}

{% block title %}Edit MyObject{% endblock %}

{% block body %}
    <h1>Edit MyObject</h1>

    {{ include('back/my_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_my_object_index') }}">back to list</a>

    {{ include('back/my_object/_delete_form.html.twig') }}
{% endblock %}
