{% extends 'base.html.twig' %}

{% block title %}New MyObject{% endblock %}

{% block body %}
    <h1>Create new MyObject</h1>

    {{ include('back/my_object/_form.html.twig') }}

    <a href="{{ path('app_back_my_object_index') }}">back to list</a>
{% endblock %}
